.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 35% 1fr;
}

.content-left {
  background-color: #f0f2f5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-content h1 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 4.4rem;
  color: rgb(66, 64, 64);
  margin-top: 2rem;
  text-align: center;
}
.form-content{
  background-color: white;
  width: 55rem;
  height: auto;
  border-radius: 1rem;
  position: absolute;
  left: 10%;
  padding-bottom: 2rem;
  margin: 0 auto;
}

form {
  width: 100%;
  padding: 2rem;
}
.form-flex{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 3rem;
width: 100%;
}
form .field-input {
  padding: .5rem;
}
form .field-input label {
  line-height: 160%;
  font-size: 1.4rem;
  color: #7a7878;
}
form input,  textarea {
  display: block;
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: .5rem;
  padding:0 1.5rem;
  margin: .5rem 0;
  background-color: #f1efef;
  outline: none;
}
#file{
padding: 1rem;
}
form .submit {
  cursor: pointer;
  background-color: #704828;
  color: #ffffff;
  font-weight: bold;
}
form .submit:hover {
  filter: brightness(0.9);
}
textarea{
resize: none;
padding-top: 1rem;
}


form .field-input .radio input{
  height: 1.5rem;
  display: inline;
cursor: pointer;
  
  }
  .genero{
  display: flex;
  padding: 2rem 0 0 0;
  color: #7a7878;
 gap: 1rem;
  }
.content-right {
  width: 100%;
  height: 100%;
  background-image: url('../images/img0\ .webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}