.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 1fr;
}

#content-left {
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#content-left .logo {
  color: black;
}
/* Form*/
.form-content {
  background-color: white;
  width: 43rem;
  height: auto;
  border-radius: 1rem;
  margin: 0 auto;
  position: absolute;
  left: 10%;
  padding-bottom: 2rem;
}
.form-content h1 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 4.4rem;
  color: rgb(66, 64, 64);
  padding-top: 1rem;
  text-align: center;
}
form {
  padding: 0 2.5rem;
}
form .field-input {
  padding: 1rem;
}
.field-input label {
  line-height: 160%;
  font-size: 1.4rem;
  color: #7a7878;
}
input {
  display: block;
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 1rem;
  padding: 0 3rem;
  margin-top: 1rem;
  background-color: #e7e6e6;
  outline: none;
}
.field-input input::placeholder {
  font-weight: 700;
}
.submit {
  cursor: pointer;
  background-color: rgb(212, 212, 30);
  font-weight: bold;
}
.submit:hover {
  filter: brightness(0.9);
}
/* Chekbox*/
.check {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.check p {
  color: #7a7878;
  font-size: 1.4rem;
}
#chk {
  display: none;
}
.switch {
  position: relative;
  background-color: #777;
  width: 5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.slider {
  position: absolute;
  background-color: white;
  border-radius: 20%;
  width: 2rem;
  height: 2rem;
  transition: all 0.5s ease-in-out;
}
#chk:checked ~ .switch {
  background-color: rgb(212, 212, 30);
}
#chk:checked ~ .switch .slider {
  transform: translateX(20px);
}
.content-right {
  width: 100%;
}
.content-right img {
  width: 100%;
}
.count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.count a {
  font-size: 1.4rem;
  text-decoration: none;
}
.count a:hover {
  text-decoration: underline;
}
.count .forgot-password p {
  color: #7a7878;
  font-size: 1.4rem;
}
/* Section content-right*/
.content-right {
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
}

@media (max-width: 780px) {
  body {
    background: red !important;
  }

  .container {
    grid-template-columns: 1fr;
  }
  #content-right {
    display: none;
  }

  .form-content {
    width: 90%;
    margin: 0 auto !important;
    padding-block: 4rem;
    left: auto;
  }
}
