.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 1fr;
}

#content-left {
  background-color: #f0f2f5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-left .logo {
}
/* Form*/
.form-content {
  background-color: white;
  width: 43rem;
  height: auto;
  border-radius: 1rem;
  margin: 0 auto;
  position: absolute;
  left: 10%;
  padding-bottom: 2rem;
}
.form-content h1 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 4.4rem;
  color: rgb(66, 64, 64);
  padding-top: 1rem;
  text-align: center;
}
form {
  padding: 0 2.5rem;
}
form .field-input {
  padding: 1rem;
}
.field-input label {
  line-height: 160%;
  font-size: 1.4rem;
  color: #7a7878;
}
input {
  display: block;
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 1rem;
  padding: 0 3rem;
  margin-top: 1rem;
  background-color: #f1efef;
  outline: none;
}
.field-input input::placeholder {
  font-weight: 700;
}
.submit {
  cursor: pointer;
<<<<<<< HEAD
  background-color:#704828;
  color: #ffffff;
=======
  background-color: #ff7500;
>>>>>>> 6cab802f772de6f34118d353fa2bfa0dc0303945
  font-weight: bold;
}
.submit:hover {
  filter: brightness(0.9);
}
/* Chekbox*/
.check {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.check p {
  color: #7a7878;
  font-size: 1.4rem;
}
#chk {
  display: none;
}
.switch {
  position: relative;
  background-color: #777;
  width: 5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.slider {
  position: absolute;
  background-color: white;
  border-radius: 20%;
  width: 2rem;
  height: 2rem;
  transition: all 0.5s ease-in-out;
}
#chk:checked ~ .switch {
<<<<<<< HEAD
  background-color:#704828;
=======
  background-color: #ff7500;
>>>>>>> 6cab802f772de6f34118d353fa2bfa0dc0303945
}
#chk:checked ~ .switch .slider {
  transform: translateX(20px);
}
.content-right {
  width: 100%;
}
.content-right img {
  width: 100%;
}
.count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.count a {
  font-size: 1.4rem;
  text-decoration: none;
<<<<<<< HEAD
  color: #704828;
=======
  color: #ff7500;
>>>>>>> 6cab802f772de6f34118d353fa2bfa0dc0303945
}
.count a:hover {
  text-decoration: underline;
}
.count .forgot-password p {
  color: #7a7878;
  font-size: 1.4rem;
}
/* Section content-right*/
#content-right {
  width: 100%;
  height: 100%;
  background-image: url('../images/img0\ .webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
img {
  width: 100%;
  height: 100%;
}

@media (max-width: 780px) {
  .container {
    grid-template-columns: 1fr;
  }
  #content-right {
    display: none;
  }

  .form-content {
    width: 90%;
    margin: 0 auto !important;
    padding-block: 4rem;
    left: auto;
  }
}


/* general style*/
a{
text-decoration: none;
color:#ffffff;
}
/* Home Page*/
#header{
width: 100vw;
height: 41rem;
background-color: #121212;
}
 #header .header-top{
width: 80%;
height: 15vh;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
}
#header .header-top > .logo{
display: flex;
align-items: center;
height: 100%;
}
.header-top nav ul{
display: flex;
align-items: center;
height: 100%;
gap: 2rem;
list-style: none;
}
.header-top nav .menu a{
text-decoration: none;
font-weight: 500;
line-height: 1.9rem;
transition: all .3s;
}
.header-top nav .menu a:hover{
color: #FF7500;
  }
.button{
border: 2px solid #ffffff;
padding: 1rem;
transition:all .4s;
}
.button:hover{
background-color: #FF7500;
}

/* header-cols */
.header-cols{
width: 80%;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 8rem;
}
.header-cols .header-cols-a{
width: 60rem;
}
.header-cols .header-cols-a h1{
font-size:5rem;
font-weight: bold;
line-height: 133.02%;
text-transform: uppercase;
}

/* Hotel image*/

#hotel-img{
width: 100%;
height: 40rem;
}
#hotel-img img{
width: 100%;
height: 100%;
}